
extends layout

block content
  main.flex-shrink-0
    .container
      p.lead
      .container
  .row
    .Absolute-Center.is-Responsive
      #logo-container
      .col-sm-12.col-md-10.col-md-offset-1
        form(action="/logout?_method=DELETE"  method="POST")
            button.btn.btn-def.btn-block(type='submit') Logout
