doctype html
head
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home
  link(href='/css/main.css', rel='stylesheet')
  style.
.wrapper
  // Top menu
  .sidebar
    // profile image & text
    // menu item
    .profile
      img(src='../images/nif2.png')

    ul
      li
        a.active(href='/main')
          span.icon
            i.fas.fa-home
          span.item Home
      li
        a(href='/imagefinder')
          span.icon
            i.fas.fa-desktop
          span.item Image Finder
      li
        a(href='/pod')
          span.icon
            i.fas.fa-user-friends
          span.item Picture of the Day
      li
        a(href='/neof')
          span.icon
            i.fas.fa-meteor
          span.item Near Earth Object Finder
      li
        a(href='/sg')
          span.icon
            i.fas.fa-satellite-dish
          span.item Satellite geofinder
      li
        a(href='/settings')
          span.icon
            i.fas.fa-cog
          span.item Settings
      li
        .button
          form(action="/logout?_method=DELETE"  method="POST")
            button.btn.btn-def.btn-block(type='submit')
              span.icon
                i.fas.fa-power-off
              span.item  Logout
  .section
    .top_navbar
      .hamburger
        a(href='#')
          i.fas.fa-bars
script.
  var hamburger = document.querySelector(".hamburger");
  hamburger.addEventListener("click", function(){
  document.querySelector("body").classList.toggle("active");
  })