extends layout

block content
  main.flex-shrink-0
    .container
      p.lead
      .container
  .row
    .Absolute-Center.is-Responsive
      #logo-container
      .col-sm-12.col-md-10.col-md-offset-1
        form#loginForm(action='/', method="POST")
          .form-group.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input.form-control(type='text' name='email' placeholder='email')
          .form-group.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control(type='password' name='password' placeholder='password') 
          .form-group
            button.btn.btn-def.btn-block(type='submit') Login
            <% if(messages.error) { %>
              <%= messages.error %>
              <% } %>
          .form-group.text-center.text-inline
            a(href="/register") Create an Account
            | &nbsp;|&nbsp;
            a(href='#') Forgot Password
            | &nbsp;|&nbsp;
            a(href='#') Support